@import url('https://fonts.cdnfonts.com/css/myriad-pro');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: rgba(183,233,114,1);
  --color2: rgba(0,173,238,1);

  --ries22-1: #0178be;
  --ries22-2: #adc7ee;
  --ries21-1: #F650FF;
  --ries21-2: #8D5FFF;
  --ries20-1: #00AFEF;
  --ries20-2: #FFAF8C;
  --ries19-1: #1aabe3;
  --ries19-2: #fbbc40;
}

#root {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}


body {
  font-size: 16px;
  background: linear-gradient(120deg, var(--color1) 0%, var(--color2) 75%);
}

nav {
  width: 100vw;
  height: 14vh;
  height: 14svh;
  box-sizing: border-box;
  padding: 1vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  position: absolute;
  top:0;
}

#logos {
  display: flex;
  align-items: center;
  gap: 3vw;
}

#logo {
  width: 35vw;
  position: relative;
  z-index: 2;
}

#logo-csg {
  width: 13vw;
  position: relative;
  z-index: 2;
}

#menu-button {
  color: #fff;
  transform-origin: right;
  font-size: 3em;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all .2s ease;
}

#menu-button:hover {
  color: var(--color1);
}

.active + #menu-button:hover {
  color: var(--color2);
}


button {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover {
  color: var(--color1);
}

#language-selector {
  display: flex;
  gap: 3vw;
  background-color: var(--color2);
  border-radius: 2em;
  padding: 0.5vh 2vh;
}

#links {
  position: absolute;
  top: -200vw;
  right: -300vw;
  background-color: var(--color1);
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: 'Varela Round', sans-serif;
  padding: 14vh 20vw 0 0;
  padding: 14svh 20vw 0 0;
  text-align: right;
  gap: 1vh;
}

#desplegable {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1vh;
}

#desplegable.open {
  display: flex;
}



#links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  transition: all .2s ease;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1vh;
}

#main a {
  font-size: 2.2em;
}

#links a:hover {
  color: var(--color2);
}

#links.active {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: absolute;
  top: 0;
  right: -12vw;
  border-radius: 0 0 0 80%;
  background-color: var(--color1);
}

.page {
  width: 100vw;
  min-height: 86vh;
  min-height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vw 0;
  gap: 3vh;
  gap: 3svh;
}

.page img {
  max-width: 70vw;
}

.page p {
  width: 70vw;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: justify;
}

#hero {
  width:100vw;
  height: 86vh;
  height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  gap:1vh;
  gap:1svh;
  box-sizing: border-box;
}

#hero23 {
  width:100vw;
  height: 86vh;
  height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  background-color: #ececec;
  box-sizing: border-box;
  padding: 5vh 4vh;
  padding: 5svh 4svh;
  font-family:  'Varela Round', sans-serif;
  font-weight: 600;
  color: #0e1e2f;
  position: relative;
}

#datos {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  gap: 2svh;
  position: relative;
  z-index: 3;
}

#circulos {
  position: absolute;
  top:0;
  right: -20vw;
  z-index: 1;
  height: 86vh;
  height: 86vh;
}


#circulos-wrap {
  transform-origin: top right;
  transform: scale(0.5); 
}

#circulo-svg {
  position: absolute;
  top: 0;
  right: 0;  

}

#circulo-img {
  position: absolute;
  top: 0;
  right: 0;
}

/* #circulo4 {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: rotarsvg 75s ease infinite;
}

@keyframes rotarsvg {
	0% {
    transform: rotate(0deg);
	}
	100% {
    transform:rotate(360deg);
	}
} */

#icono-23 {
  width: 25vw;
}

#logo-23 {
  width: 70vw;
}

#datos-imagen {
  margin-left: 2px;
  font-size: 1em;
}

#tematicas {
  display: flex;
  gap: 1vw;
}

.tema {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.85em;
  box-sizing: border-box;
  padding: 1vw;
  border-radius: 10em;
  transition: all .2s ease;
}

.tema:hover {
  color: #fff;
  background-color: #C48B27;
}

.border {
  border-right: 1px solid;
}

#titulo {
  font-size: 3.7em;
  color:  #fff;
  position: relative;
  z-index:2;
  text-align: center;
}

#fecha, #lugar {
  font-size: 2em;
  color: #fff;
  display: flex;
  gap: 0.5em;
  position: relative;
  z-index:2;
  text-align: center;
}

.cta {
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    background-color: #fff;
    color: var(--color1);
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
    padding: 1vh 4vw;
    margin-top: 3vh;
    border: 3px solid #fff;

}

.cta:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff
}

#descripcion {
  color: #fff;
  text-align: justify;
  width: 80vw;
}

#icono {
  position:absolute;
  width: 170vw;
  top:100;
  right:0;
  transform:translateY(-50%) translateX(50%);
  animation: rotar 75s ease infinite;
  opacity: 0.5;
}

@keyframes rotar {
	0% {
    transform:translateY(-50%) translateX(50%) rotate(0deg);
	}
	100% {
    transform:translateY(-50%) translateX(50%) rotate(360deg);
	}
}

.edicion-hero {
  width:100vw;
  min-height: 86vh;
  min-height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;
}
.edicion-hero .logo {
  width: 15vh;
  background-color: #fff;
  padding: 2vw 4vw;
  border-radius: 1em 1em 0 0;
}

.edicion-hero .logo.sin-img {
  width: 30vh;
  border-radius: 1em;
}

.edicion-hero .imagen {
  width:90vw;
  border: 0.5em solid #fff;
  border-radius: 2em;
}

.tematica-pag {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: 900;
  color: #fff;
  margin-top: 2vh;
}

.edicion-links {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  padding: 7vh 0;
}

.edicion-links a {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  width: 40vw;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  background-color: #fff;
  color: var(--color1);
  font-weight: 700;
  cursor: pointer;
  transition: all .2s ease;
  padding: 1vh 0;
  border: 3px solid #fff;
}

.edicion-links a:hover {
  background-color: transparent;
  color: #fff;
}



#ediciones {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 3vh;
  gap: 3svh;
  padding: 5vh 0;
}

#ediciones a {
  text-decoration: none;
}

.edicion {
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  width: 80vw;
  height: 25vh;
  height: 25svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: 'Myriad Pro', sans-serif;
  padding: 1.5vw;
  gap: 2.5vh;
  gap: 2.5svh;
  position: relative;
  -webkit-box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  -moz-box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  transition: all .5s ease;
  cursor: pointer
}



.cover {
  width: 80vw;
  height: 25vh;
  height: 25svh;
  border-radius: 1em;
  background: linear-gradient(120deg, var(--color1) 0%, var(--color2) 75%);
  position: absolute;
  transform-origin: left;
}

.nome-edicion {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.75em;
  color: var(--color1);
  font-weight: 900;
  margin-top: 3vh;
  margin-top: 3svh;
  transition: all .5s ease;
}

.tematica {
  font-weight: 700;
}

.ano-lugar {
  font-style: italic;
  display: flex;
  flex-direction: column;
  text-align: right;
  position:absolute;
  bottom: 3vh;
  bottom: 3svh;
  right: 3vw;
}

.edicion:hover {
  background: linear-gradient(120deg, var(--color1) 0%, var(--color2) 75%);
  color: #fff;
  -webkit-box-shadow:inset 0px 0px 0px 10px #fff;
  -moz-box-shadow:inset 0px 0px 0px 10px #fff;
  box-shadow:inset 0px 0px 0px 10px #fff;
}

#ries22, #ries21, #ries20, #ries19 {
  background-color: rgba(245, 245, 247, 0.9);
  transition: all .5s ease;
}

#ries22:hover {
  background: linear-gradient(120deg, var(--ries22-1) 0%, var(--ries22-2) 75%);
}

#ries21:hover {
  background: linear-gradient(120deg, var(--ries21-1) 0%, var(--ries21-2) 75%);
}

#ries20:hover {
  background: linear-gradient(120deg, var(--ries20-1) 0%, var(--ries20-2) 75%);
}
#ries19:hover {
  background: linear-gradient(120deg, var(--ries19-1) 0%, var(--ries19-2) 75%);
}

.edicion:hover .nome-edicion {
  color: #fff;
}

#premios {
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

#premios h2, #premios-section h2 {
  font-size: 2em;
  margin-left: 5vw;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

#premios > div:first-of-type {
  width: 100vw;
  height: 50vh !important;
  height: 50svh !important;
}

#slider-premios {
  width:100vw;
  height: 44vh;
  height: 44svh;
}

#cta-premios {
  width: 80vw;
  margin-bottom: 5vh;
  margin-bottom: 5svh;
  margin-left: 5vw;
}

.swiper {
  width: 100vw;
}

.swiper-slide {
  width: 80vw;
  height: 30vh;
  height: 30svh;
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  font-family: 'Myriad Pro', sans-serif;
  padding: 3vh 1.5vw;
}

.premio-slide {
  margin-top: 2vh;
  margin-top: 2svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  gap: 3vh;
  gap: 3svh;
}

.logo-premio {
  width: 30vw;
  position: absolute;
  bottom: 2vh;
  bottom: 2svh;
  right: 5vw;
}

#premios-page {
  width: 100vw;
  margin-top: 14vh;
  margin-top: 14svh;
}

#premios-page > div:first-of-type {
  width: 100vw;
  height: 50vh !important;
  height: 50svh !important;
  overflow: auto  !important;
}

#premios-section {
  width: 100vw;
}

#premios-22, #premios-21 {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 3vh;
  gap: 3svh;
  padding-bottom: 5vh;
}

.premio {
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  width: 80vw;
  height: 50vh;
  height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: 'Myriad Pro', sans-serif;
  padding: 3vh 1.5vw;
  gap: 2.5vh;
  gap: 2.5svh;
}

.nome-premio {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.75em;
  color: var(--color1);
  font-weight: 900;
}

.premio > div:first-of-type {
  width: 80% !important;
}

.proyecto {
  font-size: 1.1em;
  font-weight: 300;
}

.entidad {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--color2);
  cursor: pointer;
  font-weight: 400;
}

.entidad:hover {
  color: var(--color1)
}

#footer {
  width: 100vw;
  height: 25vh;
  text-align: center;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  border-top: 3px solid #fff;
  width: 80vw;
  margin-left: 10vw;
}

#footer a {
  text-decoration: none;
  color: var(--color1);
}

#footer a:hover {
  color: #fff;
}

#rrss {
  display: flex;
  padding: 2vh 0;
  padding: 2svh 0;
  gap: 1vw;
  font-size: 1.3em;
}

@media only screen and (min-width: 600px) {
  body {
    font-size:16px;
  }

  #icono {
    width: 150vw;
  }

  #hero23 {
    padding: 5vh 5vw;
    padding: 5svh 5vw;
  }

  #icono-23 {
    width: 12vw;
  }

  #logo-23 {
    width:34vw;
  }

  #circulos {
    top:3vh;
    top:3svh;
    right: 0;
  }
  
  
  #circulos-wrap {
    transform: scale(0.75); 
  }
  
  
  
  .swiper-slide {
    width: 60vw;
  }

  .logo-premio {
    width: 20vw;
    right: 2vh;
    right: 2svh;
  }

}

@media only screen and (min-width: 768px) {
  body {
    font-size:18px;
  }
  
  #links.active {
    right: -7vw;
    padding-top: 18vh;
  }

  #links.active #main{
    position: absolute;
    top: 18vh;
    right: 55vw;
  }

  #icono-23 {
    width: 10vw;
  }

  #logo-23 {
    width:30vw;
  }

  #circulos-wrap {
    transform: scale(0.8); 
  }

  .edicion {
    width: 37vw;
    font-size: 16px;
  }
  .cover {
    width: 37vw;
  }
 
  #icono {
    width: 130vw;
  }

  .edicion-hero .imagen {
    width:70vw;
  }

  .edicion-links a {
    width: 30vw;
  }

  #premios {
    position: relative;
  }

  #premios > div:first-of-type  {
    width: 50vw !important;
    height: 80vh !important;
    height: 80svh !important;
  }

  #cta-premios {
    width: 40vw;
    position: absolute;
    bottom: 20vh;
    bottom: 20svh;
    right: 8vw;
  }

  #slider-premios {
    width: 50vw;
    height: 80vh;
    height: 80svh;
    position: absolute;
    top: 10vh;
    left: 45vw;
  }

  .swiper {
    width: 53vw;
    position: absolute;
    top: 10vh;
    top: 10svh;
    right: 0;
  }
  
  .swiper-slide {
    width: 35vw;
    height: 35vh;
    height: 35svh;
  }

  .logo-premio {
    width: 13vw;
  }

  #premios-page {
    width: 100vw;
  }

  #premios-page > div:first-of-type {
    width: 35vw !important;
    height: 90vh !important;
    height: 90svh !important;
    position: fixed !important;
    left: 0 !important;
    top: 15vh !important;
    top: 15svh !important;
  }



  #premios-section {
    width: 65vw;
    position: relative;
    right: 0;
    left: 35vw;
    top: 15vh;
    top: 15svh;
    padding-bottom: 20vh;
  }

  #premios-22, #premios-21 {
    width: 65vw;
  }

  .premio {
    width: 40vw;
    height: 60vh;
    height: 60svh;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    width: 20vw;
  }

  #logo-csg {
    width: 7vw;
  }
  #menu-button {
    font-size: 2.8em;
  }

  button {
    font-size: 1.1em;
  }

  #language-selector {
    gap: 0.5vw;
  }

  #main {
    position: absolute;
    top: 200.7vw;
    right: 310vw;
    width: 60vw;
    height: 10vh;
    height: 10svh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all .2s ease;
    gap: 1vw;
  }

  #main a {
    font-size: 1.3em;
  }

  #links.active #main{
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    top: 18vh;
    right: 53vw;
  }

  #links.active a {
    font-size: 2.2em;
  }

  #links.active button {
    font-size: 1.3em;
  }

  #links.active #main a{
    font-size: 2.2em;
  }

  #icono-23 {
    width: 8vw;
  }

  #logo-23 {
    width:24vw;
  }

  #circulos {
    bottom: 0;
    right: 0;
  }
  
  
  #circulos-wrap {
    transform: scale(1.07); 
  }
  

  .edicion {
    width: 27vw;
    font-size: 15px;
  }
  .cover {
    width: 27vw;
  }
  #icono {
    width: 100vw;
  }

  #footer {
    font-size: 20px;
  }

  #descripcion p {
    width: 50vw;
    margin-top: 10vh;
  }


  .swiper {
    width: 53vw;
  }
  
  .swiper-slide {
    width: 32vw;
    height: 32vh;
    height: 32svh;
  }

}

@media only screen and (min-width: 1200px) {
  body {
    font-size:18px;
  }

  #logos {
    gap: 2vw;
  }

  #logo {
    width: 17vw;
  }

  #logo-csg {
    width: 6vw;
  }
  #ediciones {
    gap:0;
    height: 50vw;
  }
  
  .edicion {
    width: 20vw;
  }
  .cover {
    width: 20vw;
  }
  #icono {
    width: 80vw;
  }

  #icono-23 {
    width: 7vw;
  }

  #logo-23 {
    width:20vw;
  }

  #circulos-wrap {
    transform: scale(1.13); 
  }

  .nome-edicion {
    font-size: 1.5em;
  }

  .edicion-hero .imagen {
    width:50vw;
  }

  .edicion-hero .logo {
    width: 20vh;
  }

  #premios-22, #premios-21 {
    justify-content: center;
    gap: 3vw;
  }

  .premio {
    width: 25vw;
    height: 50vh;
    height: 50svh;
  }

  .swiper-slide {
    width: 30.5vw;
  }

  .logo-premio {
    width: 10vw;
  }
  
}

@media only screen and (min-width: 1400px) {
  body {
    font-size:18px;
  }

  .nome-edicion {
    font-size: 1.75em;
  }

  .edicion {
    font-size:17px;
  }

  #circulos-wrap {
    transform: scale(1.23); 
  }



}

@media only screen and (min-width: 1700px) {
  body {
    font-size: 24px;
  }

  #ediciones {
    gap:0;
    height: 50vw;
  }

  #logo {
    width: 15vw;
  }

  #logo-csg {
    width: 5vw;
  }

  #circulos {
    right:0.9vw;
  }

  #circulos-wrap {
    transform: scale(1.45); 
  }

  .edicion {
    width: 20vw;
    font-size: 20px;
  }
  .cover {
    width: 20vw;
  }
  #icono {
    width: 80vw;
  }

  .premio {
    height: 45vh;
    height: 45svh;
  }

  .proyecto {
    font-size: 0.9em;
  }
  
  .entidad {
    font-size: 1.1em;
  }

  .swiper {
    width: 53vw;
  }
  .swiper-slide {
    width: 27.5vw;
  }

  .logo-premio {
    width: 9vw;
    bottom: 4vh;
    bottom: 4svh;
    right: 4vh;
    right: 4svh;
  }
}

