@import url('https://fonts.cdnfonts.com/css/myriad-pro');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color1: rgba(183,233,114,1);
  --color2: rgba(0,173,238,1);

  --original1: rgba(183,233,114,1);
  --original2: rgba(0,173,238,1);


  --ries22-1: #0178be;
  --ries22-2: #adc7ee;
  --ries21-1: #F650FF;
  --ries21-2: #8D5FFF;
  --ries20-1: #00AFEF;
  --ries20-2: #FFAF8C;
  --ries19-1: #1aabe3;
  --ries19-2: #fbbc40;
}

#root {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-size: 16px;
  background: linear-gradient(120deg, var(--color1) 0%, var(--color2) 75%);
  cursor: default;
}

nav {
  width: 100vw;
  height: 14vh;
  height: 14svh;
  box-sizing: border-box;
  padding: 1vw 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  position: absolute;
  top:0;
}

#logos {
  display: flex;
  align-items: center;
  gap: 3vw;
}

#logo {
  width: 35vw;
  position: relative;
  z-index: 2;
}

#logo-csg {
  width: 13vw;
  position: relative;
  z-index: 2;
}

#menu-button {
  color: #fff;
  transform-origin: right;
  font-size: 3em;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: all .2s ease;
}

#menu-button:hover {
  color: var(--color1);
}

.active + #menu-button:hover {
  color: var(--color2);
}


button {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
}

button:hover {
  color: var(--color1);
}

#language-selector {
  display: flex;
  gap: 3vw;
  background-color: var(--color2);
  border-radius: 2em;
  padding: 0.5vh 2vh;
}

#links {
  position: absolute;
  top: -200vw;
  right: -300vw;
  background-color: var(--color1);
  transition: all .5s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  font-family: 'Varela Round', sans-serif;
  padding: 14vh 20vw 0 0;
  padding: 14svh 20vw 0 0;
  text-align: right;
  gap: 1vh;
}

#desplegable {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1vh;
}

#desplegable.open {
  display: flex;
}



#links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7em;
  transition: all .2s ease;
}

.text a {
  text-decoration: none;
  color: var(--color1);
  transition: all .2s ease;
}

.text a:hover {
  color: var(--color2)
}



#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1vh;
}

#main a {
  font-size: 2.2em;
}

#links a:hover {
  color: var(--color2);
}

#links.active {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: absolute;
  top: 0;
  right: -12vw;
  border-radius: 0 0 0 80%;
  background-color: var(--color1);
}

.page  {
  width: 100vw;
  min-height: 86vh;
  min-height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw 0;
  gap: 3vh;
  gap: 3svh;
}

.page img {
  max-width: 70vw;
}

.page p, .text p {
  width: 70vw;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: justify;
}

#introduccion p {
  width: 100%;
}

#patrocinadores, #ponentes {
  align-self: start;
  box-sizing: border-box;
  padding: 0 5vw;
  padding-bottom: 5vh;
  padding-bottom: 5svh;
}

#patrocinadores h3, #ponentes h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

#ponentes h3 {
  margin-top: 5vh;
}

.resumen-programa {
  width: 100% !important;
  text-align: left !important;
}

.block-patrocinadores {
  width: 90vw;
  background-color: #ececec;
  border-radius: 2em;
  margin-top: 2vh;
  margin-bottom: 5vh;
  margin-top: 2svh;
  margin-bottom: 5svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  box-sizing: border-box;
  padding: 2vh;
  padding: 2svh;
}

.block-ponentes {
  width: 90vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  margin-top: 2svh;
  margin-bottom: 5svh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2vw;
  box-sizing: border-box;
  padding: 1vh 0;
  padding: 1svh 0;
}

.block-patrocinadores img {
  max-width: 30vw;
  max-height: 20vw;
}

#tipos-patrocinio {
  padding:2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  gap: 2svh;
}

#tipos-patrocinio svg {
  padding-right: 2vw;
}

#hero {
  width:100vw;
  height: 86vh;
  height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Varela Round', sans-serif;
  gap:1vh;
  gap:1svh;
  box-sizing: border-box;
}

#hero23 {
  width:100vw;
  min-height: 86vh;
  min-height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  background-color: #ececec;
  box-sizing: border-box;
  padding: 5vh 4vh;
  padding: 5svh 4svh;
  font-family:  'Varela Round', sans-serif;
  font-weight: 600;
  color: #0e1e2f;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3vh;
  gap: 3svh;
}

#datos {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  gap: 2svh;
  position: relative;
  z-index: 3;
}

#circulos {
  position: absolute;
  top:0;
  right: -20vw;
  z-index: 1;
  height: 86vh;
  height: 86vh;
}


#circulos-wrap {
  transform-origin: top right;
  transform: scale(0.5); 
}

.circulos {
  position:absolute;
  top: 0;
  right: 0;
}

.circulo {
  transform: rotate(0deg);
  transform-origin: top right;
}

.hidden {
  transform:rotate(-190deg);
}

.hide {
  animation: hide-circulo 3s ease forwards;
}

.show {
  animation: show-circulo 2s ease forwards;
}


@keyframes hide-circulo {
  0% {
    transform: rotate(0deg);
	}
	100% {
    transform:rotate(-190deg);
	}
}

@keyframes show-circulo {
  0% {
    transform: rotate(-190deg);
	}
	100% {
    transform:rotate(-360deg);
	}
}



#circulo-svg {
  position: absolute;
  top: 0;
  right: 0;  

}

#circulo-img {
  position: absolute;
  top: 0;
  right: 0;
}

/* #circulo4 {
  transform-box: fill-box;
  transform-origin: 50% 50%;
  animation: rotarsvg 75s ease infinite;
}

@keyframes rotarsvg {
	0% {
    transform: rotate(0deg);
	}
	100% {
    transform:rotate(360deg);
	}
} */

#icono-23 {
  width: 20vw;
}

#logo-23 {
  width: 60vw;
}

#datos-imagen {
  margin-left: 2px;
  font-size: 0.8em;
}

#tematicas {
  display: flex;
  gap: 1vw;
}

.tema {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8em;
  box-sizing: border-box;
  padding: 0.4em;
  border-radius: 10em;
  transition: all .2s ease;
  cursor: pointer;
}

.tema:hover {
  color: #fff;
  background-color: #C48B27;
}

.border {
  border-right: 1px solid;
}

#colab {
  width: 90vw;
  font-weight: 300;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

#organizador {
  width: 20vw;

}

#colaboradores {
  width: 57vw;
  z-index: 3;
  position: relative;
}

#colab img {
  width: 23vw;
}

#colab-logos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1vw;
  margin-bottom: 3vh;
  margin-bottom: 3svh;
}

#colab-logos img {
  max-height: 7vh;
  max-height: 7svh;
  object-fit: contain;
  padding-right: 5vw;
  padding-bottom: 1vh;
  padding-bottom: 1svh;
}

#cta-patrocinador {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw 0;
}

.section {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
  gap: 3vh;
  gap: 3svh;
  color: #fff;
  font-family: 'Varela Round', sans-serif;
}

.section svg {
  padding-right: 1vw;
}

.mailchimp-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  font-family:  'Myriad Pro', sans-serif;
  color:  #fff;
  padding-top: 5svh;
  padding-top: 5vh;
  text-align: center;
}

.mailchimp-form input {
  padding: 2vh;
  width: 40vw;
  font-size: 0.9em;
}

#titulo {
  font-size: 3.7em;
  color:  #fff;
  position: relative;
  z-index:2;
  text-align: center;
}

#fecha, #lugar {
  font-size: 2em;
  color: #fff;
  display: flex;
  gap: 0.5em;
  position: relative;
  z-index:2;
  text-align: center;
}

.cta {
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    background-color: #fff;
    color: var(--color1);
    font-weight: 700;
    cursor: pointer;
    transition: all .2s ease;
    padding: 1vh 4vw;
    margin-top: 3vh;
    border: 3px solid #fff;
}

.cta:hover {
    background-color: transparent;
    border: 3px solid #fff;
    color: #fff
}

.cta2:hover {
  color: var(--color2);
}

.mailchimp-form .cta {
  padding: 0.5vh 3vw;
  font-size: 1.4em;
}

#fixed {
  position: fixed;
  box-sizing: border-box;
  z-index: 5;
  display: none;
}

/* #registro, #patrocinio, #programacta {
  margin: 1vh;
  margin: 1svh;
  background-color: #ececec;
}

#registro:hover, #patrocinio:hover, #programacta:hover {
  background-color: var(--color2);
  border-color: var(--color2);
  color: var(--color1);
} */

#descripcion {
  color: #fff;
  text-align: justify;
  width: 80vw;
}

#icono {
  position:absolute;
  width: 170vw;
  top:100;
  right:0;
  transform:translateY(-50%) translateX(50%);
  animation: rotar 75s ease infinite;
  opacity: 0.5;
}

@keyframes rotar {
	0% {
    transform:translateY(-50%) translateX(50%) rotate(0deg);
	}
	100% {
    transform:translateY(-50%) translateX(50%) rotate(360deg);
	}
}

.edicion-hero {
  width:100vw;
  min-height: 86vh;
  min-height: 86svh;
  margin-top: 14vh;
  margin-top: 14svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;
}
.edicion-hero .logo {
  width: 15vh;
  background-color: #fff;
  padding: 2vw 4vw;
  border-radius: 1em 1em 0 0;
}

.edicion-hero .logo.sin-img {
  width: 30vh;
  border-radius: 1em;
}

.edicion-hero .imagen {
  width:90vw;
  border: 0.5em solid #fff;
  border-radius: 2em;
}

.tematica-pag {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.3em;
  text-align: center;
  font-weight: 900;
  color: #fff;
  margin-top: 2vh;
}

.edicion-links {
  margin-top: 3vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
  padding: 7vh 0;
}

.patrocinio-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3vh;
}

#programa-page .patrocinio-links {
  margin-bottom: 5vh;
  margin-top: -10vh;
}

.edicion-links a, .patrocinio-links a {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  width: 40vw;
  text-align: center;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  background-color: #fff;
  color: var(--color1);
  font-weight: 700;
  cursor: pointer;
  transition: all .2s ease;
  padding: 1vh 0;
  border: 3px solid #fff;
}

.patrocinio-links a {
  padding: 1vh 1vh;
}

.edicion-links a:hover, .patrocinio-links a:hover {
  background-color: transparent;
  color: #fff;
}



#ediciones {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 3vh;
  gap: 3svh;
  padding: 5vh 0;
}

#ediciones a {
  text-decoration: none;
}

.edicion {
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  width: 80vw;
  height: 25vh;
  height: 25svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: 'Myriad Pro', sans-serif;
  padding: 1.5vw;
  gap: 2.5vh;
  gap: 2.5svh;
  position: relative;
  -webkit-box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  -moz-box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  box-shadow:inset 0px 0px 0px 10px rgba(255, 255, 255, 0);
  transition: all .5s ease;
  cursor: pointer
}



.cover {
  width: 80vw;
  height: 25vh;
  height: 25svh;
  border-radius: 1em;
  background: linear-gradient(120deg, var(--color1) 0%, var(--color2) 75%);
  position: absolute;
  transform-origin: left;
}

.nome-edicion {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.75em;
  color: var(--color1);
  font-weight: 900;
  margin-top: 3vh;
  margin-top: 3svh;
  transition: all .5s ease;
}

.tematica {
  font-weight: 700;
}

.ano-lugar {
  font-style: italic;
  display: flex;
  flex-direction: column;
  text-align: right;
  position:absolute;
  bottom: 3vh;
  bottom: 3svh;
  right: 3vw;
}

.edicion:hover {
  background: linear-gradient(120deg, var(--original1) 0%, var(--original2) 75%);
  color: #fff;
  -webkit-box-shadow:inset 0px 0px 0px 10px #fff;
  -moz-box-shadow:inset 0px 0px 0px 10px #fff;
  box-shadow:inset 0px 0px 0px 10px #fff;
}

#ries22, #ries21, #ries20, #ries19 {
  background-color: rgba(245, 245, 247, 0.9);
  transition: all .5s ease;
}

#ries22:hover {
  background: linear-gradient(120deg, var(--ries22-1) 0%, var(--ries22-2) 75%);
}

#ries21:hover {
  background: linear-gradient(120deg, var(--ries21-1) 0%, var(--ries21-2) 75%);
}

#ries20:hover {
  background: linear-gradient(120deg, var(--ries20-1) 0%, var(--ries20-2) 75%);
}
#ries19:hover {
  background: linear-gradient(120deg, var(--ries19-1) 0%, var(--ries19-2) 75%);
}

.edicion:hover .nome-edicion {
  color: #fff;
}

#premios {
  width: 100vw;
  min-height: 100vh;
  min-height: 100svh;
  padding-top: 7svh;
  padding-top: 7vh;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

#premios h2, #premios-section h2 {
  font-size: 2em;
  margin-left: 5vw;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.page h2, .text h2 {
  font-size: 2em;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  text-align: center;
}

.page p {
  z-index: 4;
}

.page ul {
  width: 70vw;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: justify;
  z-index: 4;
}

.page li {
  margin-left: 2em;
  padding-bottom: 1em;
  list-style-image: url("/icono-lista.png") ;
  z-index: 4;
}

h3 {
  font-size: 1.8em;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

#premios > div:first-of-type {
  width: 100vw;
  height: 50vh !important;
  height: 50svh !important;
}

#slider-premios {
  width:100vw;
  height: 44vh;
  height: 44svh;
}

#cta-premios {
  width: 80vw;
  margin-bottom: 5vh;
  margin-bottom: 5svh;
  margin-left: 5vw;
}

.swiper {
  width: 100vw;
}

.swiper-slide {
  width: 80vw;
  height: 30vh;
  height: 30svh;
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  font-family: 'Myriad Pro', sans-serif;
  padding: 3vh 1.5vw;
}

.premio-slide {
  margin-top: 2vh;
  margin-top: 2svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  gap: 3vh;
  gap: 3svh;
}

.logo-premio {
  width: 30vw;
  position: absolute;
  bottom: 2vh;
  bottom: 2svh;
  right: 5vw;
}

#premios-page {
  width: 100vw;
  margin-top: 14vh;
  margin-top: 14svh;
}

#premios-page > div:first-of-type {
  width: 100vw;
  height: 50vh !important;
  height: 50svh !important;
  overflow: auto  !important;
}

#premios-section {
  width: 100vw;
}

.premios-texto {
  color: #fff;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: justify;
  padding: 2vh;
  margin-bottom: 5vh;
}

.premios-texto .margin-top {
  margin-top: 1.5em;
}

.premios-texto ul {
  margin-top: 1em;
}

.premios-texto li {
    margin-left: 2em;
    padding-bottom: 0.2em;
    list-style-image: url("/icono-lista.png") ;
}

#premios-22, #premios-21 {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 3vh;
  gap: 3svh;
  padding-bottom: 5vh;
}

.premio {
  background-color: rgba(245, 245, 247, 0.9);
  box-shadow: 0 8px 32px 0 rgba(0,173,238,0.3);
  backdrop-filter: blur( 2em);
  -webkit-backdrop-filter: blur( 2em );
  border-radius: 1em;
  width: 80vw;
  height: 50vh;
  height: 50svh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: #1d1d1f;
  font-family: 'Myriad Pro', sans-serif;
  padding: 3vh 1.5vw;
  gap: 2.5vh;
  gap: 2.5svh;
}

.nome-premio {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.75em;
  color: var(--color1);
  font-weight: 900;
}

.premio > div:first-of-type {
  width: 80% !important;
}

.proyecto {
  font-size: 1.1em;
  font-weight: 300;
}

.entidad {
  font-size: 1.2em;
  text-decoration: none;
  color: var(--color2);
  cursor: pointer;
  font-weight: 400;
}

.entidad:hover {
  color: var(--color1)
}

#basic {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 5vh 5vw;
  gap: 3vh;
}

#introduccion {
  width: 90vw;
}

#intro {
  width: 90vw;
}

#bullets {
  margin-top: 5vh;
  margin-top: 5svh;
  font-size: 0.9em;
}

#bullets img{
  width: 4vh;
  width: 4svh;
}

.bullet {
  display: flex;
  justify-content: flex-start;
  gap: 2vh;
  gap: 2svh;
  align-items: center;
  margin-top: 2vh;
  margin-top: 2svh;
}

.bullet a {
  color: var(--color2);
  font-weight: 600;
}

.bullet a:hover {
  color: #ffffff;
}

#teaser div {
  width: 90vw !important;
  height: 50.63vw !important;
}

.comite {
  background-color: #ececec;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  min-height: 100svh;
  box-sizing: border-box;
  padding: 5vh 5vw;
  color: var(--color2);
  font-family: 'Varela Round', sans-serif;
}


#ponentes-block {
  min-height: 30vh;
  min-height: 30svh;
}

.miembros-comite {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-sizing: border-box;
  gap: 4vh;
  gap: 4svh;
  margin-top: 5vh;
  margin-top: 5svh;
}

.ponentes {
  margin-top: 3vh;
  margin-bottom: 7vh;
}

.miembro-comite {
  width: 90vw;
  font-size: 1.8em;
  position: relative;
}

.comite-img {
  width: 100%;
}

.miembro-role {
  font-size: 0.7em;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 300;
}

.speaker {
  color: var(--color1);
}

.miembro-description {
  font-size: 0.5em;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 300;
  text-align: justify;
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: auto !important;
}
.miembro-role {
  width: auto !important;
}
.miembro-name {
  width: auto !important;
}

.miembro-comite .lkd {
  color: var(--color1);
  transition: all 0.2s ease;
  margin-left: 90%;
  position: absolute; 
  top: 65%;
  left: 0vw;
}

#pag-comite .lkd {
  position: relative;
  top: -10%;
}

.ponentes {
  background-color: #ececec;
  padding: 1em;
  border-radius:2em;
}

.ponente .miembro-name,  .ponente .miembro-role, .ponente .miembro-description{
  color: var(--color2);
}

.ponente .linkedin {
  color: var(--color1);
  transition: all 0.2s ease;
  align-self: flex-start;
  text-align: left;
  margin-left: 1em;
  
}

.linkedin:hover {
  color: var(--color2);
}

#cta-carta {
  font-family: 'Varela Round', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6em;
  color: var(--color1);
  cursor: pointer;
  transition: all .2s ease;
  text-align: center;
  background-color: #fff;
  border-radius: 2em;
  cursor: pointer;
  transition: all .2s ease;
  padding: 1vh 0.5vw;
  box-sizing: border-box;
  border: 1px solid #fff;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cta-carta:hover {
  color: var(--color1);
  background-color: transparent;
}

#comite-page {
  margin-top: 14vh;
  margin-top: 14svh;
}

.miembro-comite .lkd:hover {
  color: var(--color2)
}

#programa {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 5vh 5vw;
  gap: 5vh;
  font-family: 'Varela Round', sans-serif;
  color: var(--color2);
  padding-bottom: 10vw;
}

#programa-page {
    margin-top: 14vh;
    margin-top: 14svh;
}

.columna-programa {
  width: 90vw;
  background-color: #ececec;
  border-radius: 1.5em;
  padding: 1em 2em;
  box-sizing: border-box;
}

.dia-programa {
  font-size: 2em;
  color: var(--color1)
}

.tabla-programa {
  border-collapse: collapse;
  width: 100%;
  font-size: 0.9em;
  margin-top: 1.5em;
}

.tabla-programa td {
  border-top: 1px solid var(--color1);
  border-bottom: 1px solid var(--color1);
  padding: 8px;

}

.extra td {
  border-bottom: 1px solid #ececec;
  vertical-align: top;
}

.extra-no {
  display: none;
}

.no-bottom td {
  border-bottom: 1px solid #ececec;

}

.extra-last td {
  border-bottom: 1px solid var(--color1);
}

.tabla-programa tr:hover .icono-programa{
  transform: rotate(90deg);
}

.icono-programa {
  width: 1.3em;
  transition: all 0.3s ease;
}

.td-icono {
  width: 1.5em;
}

.hora-programa {
  width:4em;
  color: var(--color1);
  font-size: 0.8em;
}

#phone-nav {
  width: 100vw;
  height: 7vh;
  height: 7svh;
  background-color: #ececec;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  z-index: 10;
  border-top: 2px solid var(--color2);
}

#phone-nav {
  display: flex;
  justify-content: space-evenly;
}

.phone-nav-icon {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.phone-nav-icon a {
  color: var(--color1)
}

.patrocinadores-slide {
  width: 100%;
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative
}

.patrocinadores-logo-slide {
  list-style: none;
  display: flex;
  align-items: center;
  animation: infinite-slide 40s linear infinite;
  padding: 2rem 0;
}

.patrocinadores-logo-slide li {
  margin: 0 2.5rem;
}

.patrocinadores-logo-slide img {
  max-width: 9rem;
  max-height: 5rem;
 
}

@keyframes infinite-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
	}
}

#footer {
  width: 100vw;
  height: 25vh;
  text-align: center;
  font-family: 'Myriad Pro', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  border-top: 3px solid #fff;
  width: 80vw;
  margin-left: 10vw;
  padding-bottom: 7vh;
}

#footer a {
  text-decoration: none;
  color: var(--color1);
}

#footer a:hover {
  color: #fff;
}

#rrss {
  display: flex;
  padding: 2vh 0;
  padding: 2svh 0;
  gap: 1vw;
  font-size: 1.3em;
}

@media only screen and (min-width: 600px) {
  body {
    font-size:16px;
  }

  #icono {
    width: 150vw;
  }

  #hero23 {
    padding: 5vh 5vw;
    padding: 5svh 5vw;
  }

  #icono-23 {
    width: 12vw;
  }

  #logo-23 {
    width:34vw;
  }

  #circulos {
    top:3vh;
    top:3svh;
    right: 0;
  }
  
  
  #circulos-wrap {
    transform: scale(0.75); 
  }
  
  #colab-logos img {
    max-height: 9vh;
    max-height: 9svh; 
  }
  
  
  .swiper-slide {
    width: 60vw;
  }

  .logo-premio {
    width: 20vw;
    right: 2vh;
    right: 2svh;
  }

  .miembro-comite {
    width: 40vw;
    font-size: 1.4em;
  }

  .miembro-description {
    width: auto !important;
  }

  .comite-img {
    width: 90%;
  }
  
  .miembro-role {
    font-size: 0.7em;
    font-family: 'Myriad Pro', sans-serif;
    font-weight: 300;
  }
  
  .miembro-comite .lkd {
    color: var(--color1);
    transition: all 0.2s ease;
    margin-left: 90%;
  }

}

@media only screen and (min-width: 768px) {
  body {
    font-size:18px;
  }
  
  #links.active {
    right: -7vw;
    padding-top: 18vh;
  }

  #links.active #main{
    position: absolute;
    top: 18vh;
    right: 55vw;
  }

  #icono-23 {
    width: 10vw;
  }

  #logo-23 {
    width:30vw;
  }

  #circulos-wrap {
    transform: scale(0.8); 
  }

  #colab img {
    width: 15vw;
  }

  .edicion {
    width: 37vw;
    font-size: 16px;
  }
  .cover {
    width: 37vw;
  }
 
  #icono {
    width: 130vw;
  }

  .edicion-hero .imagen {
    width:70vw;
  }

  .edicion-links a, .patrocinio-links a {
    width: 30vw;
  }

  #premios {
    position: relative;
  }

  #premios > div:first-of-type  {
    width: 50vw !important;
    height: 80vh !important;
    height: 80svh !important;
  }

  #cta-premios {
    width: 40vw;
    position: absolute;
    bottom: 20vh;
    bottom: 20svh;
    right: 8vw;
  }

  #slider-premios {
    width: 50vw;
    height: 80vh;
    height: 80svh;
    position: absolute;
    top: 10vh;
    left: 45vw;
  }

  .swiper {
    width: 53vw;
    position: absolute;
    top: 10vh;
    top: 10svh;
    right: 0;
  }
  
  .swiper-slide {
    width: 35vw;
    height: 35vh;
    height: 35svh;
  }

  .logo-premio {
    width: 13vw;
  }

  #premios-page {
    width: 100vw;
  }

  #premios-page > div:first-of-type {
    width: 35vw !important;
    height: 90vh !important;
    height: 90svh !important;
    position: fixed !important;
    left: 0 !important;
    top: 15vh !important;
    top: 15svh !important;
  }



  #premios-section {
    width: 65vw;
    position: relative;
    right: 0;
    left: 35vw;
    top: 5vh;
    top: 5svh;
    padding-bottom: 20vh;
  }

  .premios-texto {
    width: 50vw;
    margin-left: 5vw;
  }

  #premios-22, #premios-21 {
    width: 65vw;
  }

  .premio {
    width: 40vw;
    height: 60vh;
    height: 60svh;
  }

  .miembro-comite {
    width: 40vw;
  }

  .miembro-description {
    width: auto !important;
    font-size: 0.6em;
  }

  #programa {
    flex-direction: row;
  }
  
  .block-patrocinadores img {
    max-width: 20vw;
  }

  #img-carta {
    position: absolute;
    top: 20vh;
    right: 1vw;
    z-index: 0;
    width: 31vw;
  }

  .page p, .page h2 {
    z-index: 1;
  }

  .margin-img {
    width: 50vw !important;
    margin-right: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  #logo {
    width: 20vw;
  }

  #logo-csg {
    width: 7vw;
  }
  #menu-button {
    font-size: 2.8em;
  }

  button {
    font-size: 1.1em;
  }

  #language-selector {
    gap: 0.5vw;
  }

  #main {
    position: absolute;
    top: 200.7vw;
    right: 310vw;
    width: 60vw;
    height: 10vh;
    height: 10svh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    transition: all .2s ease;
    gap: 2vw;
  }

  #main a {
    font-size: 1.3em;
  }

  #links.active #main{
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    top: 18vh;
    right: 53vw;
  }

  #links.active a {
    font-size: 2.2em;
  }

  #links.active button {
    font-size: 1.3em;
  }

  #links.active #main a{
    font-size: 2.2em;
  }

  #icono-23 {
    width: 8vw;
  }

  #logo-23 {
    width:24vw;
  }

  #circulos {
    /* bottom: 0; */
    top: 0;
    right: 0;
  }
  
  
  #circulos-wrap {
    transform: scale(1.07); 
  }
  
  #colab img {
    width: 8vw;
  }
  
  #colaboradores {
    width: 70vw;
  }

  #colab-logos {
    margin-top: 3.5vh;
    margin-top: 3.5svh;
  }

  #colab-logos img {
    padding-right: 2vw;
  }


  #fixed {
    width: 100vw;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #ececec;
    border-top: 1px solid var(--color2);
  }

  .cta-fixed {
    width: 34vw;
    height: 6vh;
    height: 6svh;
    padding-top: 0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color1);
    background-color: #ececec;
    cursor: pointer;
    transition: all .2s ease;
  }

  #programacta {
    border-left: 1px solid var(--color2);
    border-right: 1px solid var(--color2);
  }

  .cta-fixed:hover {
    background-color: var(--color2);
  }

  #phone-nav {
    display: none;
  }

  .edicion {
    width: 27vw;
    font-size: 15px;
  }
  .cover {
    width: 27vw;
  }
  #icono {
    width: 100vw;
  }

  #footer {
    font-size: 20px;
  }

  #descripcion p {
    width: 50vw;
    margin-top: 10vh;
  }


  .swiper {
    width: 53vw;
  }
  
  .swiper-slide {
    width: 32vw;
    height: 32vh;
    height: 32svh;
  }

  #basic {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 5vw 5vw;
    gap: 5vw;
  }
  
  #introduccion {
    width: 40vw;
  }

  #introduccion p {
    width: 40vw;
  }

  #teaser div {
    width: 40vw !important;
    height: 22.50vw !important;
  }
  
  .miembro-comite {
    width: 30vw;
  }

  .ponente {
    width: 42vw;
  }

  .ponente img {
    width: 25vw;
  }

  .miembro-description {
    width: auto !important;
  }
  
  .block-patrocinadores {
    padding: 1.5vw;
  }

  .block-patrocinadores img {
    max-width: 15vw;
    max-height: 10vw;
  }

}

@media only screen and (min-width: 1200px) {
  body {
    font-size:18px;
  }

  #logos {
    gap: 2vw;
  }

  #logo {
    width: 17vw;
  }

  #logo-csg {
    width: 6vw;
  }


  #organizador {
    width: 10vw;
  }

  #colaboradores {
    width: 73vw;
  }

  #colab img {
    width: 8vw;
  }

  #colab-logos {
    margin-top: 0;
  }

  #colab-logos img {
    max-height: 10vh;
    max-height: 10svh;
    padding-right: 0.5vw;
  }
  

  #ediciones {
    gap:0;
    height: 50vw;
  }
  
  .edicion {
    width: 20vw;
  }
  .cover {
    width: 20vw;
  }
  #icono {
    width: 80vw;
  }

  #icono-23 {
    width: 7vw;
  }

  #logo-23 {
    width:20vw;
  }

  #circulos-wrap {
    transform: scale(1.13); 
  }

  .nome-edicion {
    font-size: 1.5em;
  }

  .edicion-hero .imagen {
    width:50vw;
  }

  .edicion-hero .logo {
    width: 20vh;
  }

  #premios-22, #premios-21 {
    justify-content: center;
    gap: 3vw;
  }

  .premio {
    width: 25vw;
    height: 50vh;
    height: 50svh;
  }

  .swiper-slide {
    width: 30.5vw;
  }

  .logo-premio {
    width: 10vw;
  }

  .miembro-comite {
    width: 20vw;
    font-size: 1.2em;
  }

  .ponente {
    width: 42vw;
  }
  
}

@media only screen and (min-width: 1400px) {
  body {
    font-size:18px;
  }

  .nome-edicion {
    font-size: 1.75em;
  }

  .edicion {
    font-size:17px;
  }

  #circulos-wrap {
    transform: scale(1.23); 
  }



}

@media only screen and (min-width: 1700px) {
  body {
    font-size: 24px;
  }

  #ediciones {
    gap:0;
    height: 50vw;
  }

  #logo {
    width: 15vw;
  }

  #logo-csg {
    width: 5vw;
  }

  #circulos {
    right:0.9vw;
  }

  #circulos-wrap {
    transform: scale(1.45); 
  }

  #colab img {
    width: 6vw;
  }

  #colab-logos {
    margin-top: 0;
  }

  #colab-logos img {
    max-height: 10vh;
    max-height: 10svh;
  }

  .edicion {
    width: 20vw;
    font-size: 20px;
  }
  .cover {
    width: 20vw;
  }
  #icono {
    width: 80vw;
  }

  .premio {
    height: 45vh;
    height: 45svh;
  }

  .proyecto {
    font-size: 0.9em;
  }
  
  .entidad {
    font-size: 1.1em;
  }

  .swiper {
    width: 53vw;
  }
  .swiper-slide {
    width: 27.5vw;
  }

  .logo-premio {
    width: 9vw;
    bottom: 4vh;
    bottom: 4svh;
    right: 4vh;
    right: 4svh;
  }
}

